.jumbotron-extend {
    position: relative;
    height: 100vh;
    min-height: 300px;
}
.jumbotron-titleImage {
    background: url("../images/titleBack.jpg") no-repeat center center;
    background-size: cover;
}
.jumbotron-container {
    position: relative;
    top: 40%;
    transform: translateY(-50%);
}
.backWhite {
    background-color: white;
}
#myMenu{
    position: fixed;
    z-index: 9999;
  }
.tmpImage {
    position: relative;
    height: 80vh;
    min-height: 300px;
    background: url("../images/tmp.jpg") no-repeat center center;
    background-size: cover;
}
.matchingImage {
    position: relative;
    height: 80vh;
    min-height: 300px;
    background: url("../images/マッチング.jpg") no-repeat center center;
    background-size: cover;
}
.requestImage {
    position: relative;
    height: 80vh;
    min-height: 300px;
    background: url("../images/お問い合わせ.jpg") no-repeat center center;
    background-size: cover;
}
.bookImage {
    position: relative;
    height: 80vh;
    min-height: 300px;
    background: url("../images/図鑑.jpg") no-repeat center center;
    background-size: cover;
}
.simulationImage {
    position: relative;
    height: 80vh;
    min-height: 300px;
    background: url("../images/シュミレーション.jpg") no-repeat center center;
    background-size: cover;
}

.wf-hannari { font-family: "M PLUS Rounded 1c"; }