/* 共通レイアウト */
.header {
    color:white;
    background-color:#5EC86D;
}
.contents-side {
    background-color: #F0F3F3;
}
a {
    color:white;
    text-decoration: none !important;
}
.left {
    font-size: 230%;
    float: left;
}
.link-bar {
    font-size: 130%;
    text-align: right;
}
.back-white {
    background-color: white;
}

/* 検索フォーム */
.search_container{
    position: relative;
    width:245px;
    box-sizing: border-box;
    margin-top: 15px;
  }
  .search_container input[type="text"]{
    border: 1px solid #999;
    padding: 3px 5px;
    border-radius: 5px 0 0 5px;
    height: 2.2em;
    overflow: hidden;
  }
  .search_container input[type="text"]:focus {
    outline: 0;
  }
  .search_container input[type="submit"]{
    cursor: pointer;
    font-family: FontAwesome;
    font-size: 1.3em;
    border: none;
    background: #5EC86D;
    color: #fff;
    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;
    outline : none;
    position: absolute;
    top: -8px;
    right: -15px;
  }


  /*絞り込みボックス*/
.hidden_box {
    margin: 1em 0;/*前後の余白*/
    padding: 0;
}

/*ボタンホバー時*/
.hidden_box label:hover {
    background: #efefef;
}

/*チェックは見えなくする*/
.hidden_box input.hidden {
    display: none;
}

/*中身を非表示にしておく*/
.hidden_box .hidden_show {
    height: 0;
    padding: 0;
    overflow: hidden;
    opacity: 0;
    transition: 0.8s;
}

/*クリックで中身表示*/
.hidden_box input:checked ~ .hidden_show {
    /* padding: 10px 0; */
    height: auto;
    opacity: 1;
}
.radio-button input[type="radio"]:checked + label {
    background-color: #2EFE9A;
    border-color: #2EFE9A;
    color: black;
  }
.radio-button {
    background-color: #F2F5A9;
}

.cp_btn {
    position: relative;
    display: block;
    width: 160px;
    padding: 0.8em;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background: #5EC86D;
    border:1px solid #fff;
    overflow: hidden;
}

.cp_btn:before {
    content:"";
    position: absolute;
    top: 0px;
    left: -150px;
    height: 100%;
    width: 160px;
    background : #fff;
    opacity: 0.3;
    transition: .4s;
}
.cp_btn:hover:before {
    left:0;
}

.book-border {
    border-top: 3px solid #5EC86D;
 }

div.matchingBox {
width:700px; height:500px;
margin:5px; padding:10px; border:1px solid black;
background-color:#A9F5BC;
display: table-cell;
vertical-align: middle;
}

.square_btn{
    display: inline-block;
    padding: 7px 20px;
    border-radius: 25px;
    text-decoration: none;
    color: #FFF;
    background-image: -webkit-linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
    background-image: linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
    transition: .4s;
}

.square_btn:hover {
    background-image: -webkit-linear-gradient(45deg, #FFC107 0%, #f76a35 100%);
    background-image: linear-gradient(45deg, #FFC107 0%, #f76a35 100%);
}
.custom-radio{
    margin-left:50px;
}
.custom-radio label {
    font-size: 30px;
    color: #000;
}
.custom-radio label:hover
{
    font-size: 33px;
    color: #FAAC58;
}
.custom-radio input[type="radio"]:checked + label {
    color: #FAAC58;
    border: 1px solid #FF0000;
}
.matching_title{
    font-size: 30px;
    margin-bottom:70px;
}