<!doctype html>
<html>
<head>
    <meta charset="utf-8"/>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/mystyle.css" type="text/css">
<title>{{ title }}</title>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-1"></div>
        <div class="col-xs-10 bg-success">
                <center><h1>BONSAI MASTER</h1>
                    <nav class="navbar  navbar-default">
                      <ul class="nav navbar-nav">
                      <li><a href="/"><font size="5">ホーム</font></a></li>
                      <li><a href="/matching"><font size="5">マッチング</font></a></li>
                      <li><a href="/bonsaibook"><font size="5">図鑑</font></a></li>
                      <li><a href="/simulation"><font size="5">シュミレーション</font></a></li>
                      </ul>
                    </nav> 

{% block content %}
<!-- ここにメインコンテンツを書く -->
{% endblock %}
                    <div style="text-align : right"><p>フッター部分</p></div>
                </center>
        </div>
        <div class="col-xs-1"></div>
    </div>
</div>
<script src="../static/js/bootstrap.min.js"></script>
</body>
</html>